<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.ums.dao.UserDao">

    <resultMap type="com.jw.ums.entity.User" id="BaseResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">id
    , name, password, role</sql>

    <!-- 根据ID查询 -->
    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id}
    </select>

    <!-- 查询全部 -->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where 1=1
    </select>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.jw.ums.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="role != null">
                role,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="role != null">
                #{role},
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.jw.ums.entity.User">
        update user
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete">
        delete
        from user
        where id = #{id}
    </delete>

    <!-- 校验用户名 -->
    <select id="selectByName" resultType="com.jw.ums.entity.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where name = #{name}
    </select>
</mapper>

